@use "../../../index.scss" as *;

.hero {
  height: 100vh;
  word-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-text {
    margin-top: 80px;
    font-size: $main-text-size;
    color: $main-text-color;
  }
  .sub-text {
    font-size: $sub-text-size;
    color: $sub-text-color;
  }
  img {
    min-height: 300px;
    height: 70%;
  }

  @media (max-height: $image-minHeight) {
    img {
      display: none;
    }
    .main-text {
      margin-top: 40vh;
    }
  }
}
