$primary-bgColor: #fbf9f5;
$secondary-bgColor: rgb(33, 37, 41);
$callToAction-bgColor: #fcf2e5;

$frame-minHeight: 1024px;
$large-width: 1024px;
$tablet-width: 767px;
$phone-width: 575px;
$image-reduceHeight: 599px;
$image-minHeight: 320px;

$main-text-color: #000000;
$sub-text-color: #545454;
$dark-mode-text-color: #ffffff;
$main-text-size: 44px;
$sub-text-size: 22px;
$main-text-size-2: 36px;
$sub-text-size-2: 18px;
$main-text-size-3: 24px;
$sub-text-size-3: 14px;
$main-text-size-4: 16px;
$sub-text-size-4: 12px;
